<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>school diary</title>
    <th:block th:include="fragments/imports :: head"></th:block>

</head>

<body>
    <th:block th:include="fragments/imports :: nav"></th:block>
    <div class="main-wrapper justify-content-center">
        <h1>School diary</h1>
        <p>home page</p>
<!--        -->
<!--        <a class="nav-link ml-3" th:href="@{/test}">Test en</a>-->
<!--        <a class="nav-link ml-3" th:href="@{/test2}">Test pl</a>-->
<!--        -->
        <div class="changelog-table col-8">
            <table class="table">
                <h4>change log</h4>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Comment</th>
                    <th scope="col">User</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">0.09</th>
                    <td>04.04.2021</td>
                    <td>entities refactoring, implement baseEntity</td>
                    <td><a href="https://github.com/arturzaczek1" target="_blank">@arturzaczek1</a></td>
                </tr>
                <tr>
                    <th scope="row">0.08</th>
                    <td>04.04.2021</td>
                    <td>students form works with basic validation, nav bar changes, studentsList invoke get on load</td>
                    <td><a href="https://github.com/arturzaczek1" target="_blank">@arturzaczek1</a></td>
                </tr>
                <tr>
                    <th scope="row">0.07</th>
                    <td>04.04.2021</td>
                    <td>students table sort</td>
                    <td><a href="https://github.com/arturzaczek1" target="_blank">@arturzaczek1</a></td>
                </tr>
                <tr>
                    <th scope="row">0.06</th>
                    <td>04.04.2021</td>
                    <td>added simple function to show result of students search, added favicon, fix log file location</td>
                    <td><a href="https://github.com/arturzaczek1" target="_blank">@arturzaczek1</a></td>
                </tr>
                <tr>
                    <th scope="row">0.05</th>
                    <td>04.04.2021</td>
                    <td>main page changelog</td>
                    <td><a href="https://github.com/arturzaczek1" target="_blank">@arturzaczek1</a></td>
                </tr>
                <tr>
                    <th scope="row">0.04</th>
                    <td>04.04.2021</td>
                    <td>js moved from main to students, minor error page changes</td>
                    <td><a href="https://github.com/arturzaczek1" target="_blank">@arturzaczek1</a></td>
                </tr>
                <tr>
                    <th scope="row">0.03</th>
                    <td>03.04.2021</td>
                    <td>created simple nav</td>
                    <td><a href="https://github.com/arturzaczek1" target="_blank">@arturzaczek1</a></td>
                </tr>
                <tr>
                    <th scope="row">0.02</th>
                    <td>03.04.2021</td>
                    <td>building new student form and simple validation</td>
                    <td><a href="https://github.com/arturzaczek1" target="_blank">@arturzaczek1</a></td>
                </tr>
                <tr>
                    <th scope="row">0.01</th>
                    <td>03.04.2021</td>
                    <td>old repo moved to new space</td>
                    <td><a href="https://github.com/arturzaczek1" target="_blank">@arturzaczek1</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<th:block th:include="fragments/imports :: js_import"></th:block>

</html>