<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>School diary</title>
    <th:block th:insert="fragments/imports :: head"></th:block>
    <th:block th:insert="fragments/imports :: grade-liks"></th:block>
</head>
<body>
<th:block th:insert="fragments/components :: nav"></th:block>
<div class="main-wrapper">
    <div class="row form-basic mt-3 justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12">

            <div class="input-group mb-3 id_student">
                <input id="id_student-details" type="number" class="form-control" placeholder="id studenta">
            </div>
            <button type="button" onclick="getStudentDetails()" class="btn btn-primary">getStudentDetails</button>
            <h4>Student profile:</h4>
            <div class="input-group mb-3">
                <input type="text" id="id-details" class="form-control rounded-right" placeholder="id" disabled="true" value="testowe ID">
                <div class="valid-feedback">
                    Ok!
                </div>
                <div class="invalid-feedback">
                    Proszę wpisać imie
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" id="first-name-details" class="form-control rounded-right" placeholder="imie" disabled="true" value="testowe imie">
                <div class="valid-feedback">
                    Ok!
                </div>
                <div class="invalid-feedback">
                    Proszę wpisać imie
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" id="last-name-details" class="form-control rounded-right" placeholder="nazwisko" disabled="true" value="testowe nazwisko">
                <div class="valid-feedback">
                    Ok!
                </div>
                <div class="invalid-feedback">
                    Proszę wpisać nazwisko
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" id="email-details" class="form-control rounded-right" placeholder="email" disabled="true" value="testowy email">
                <div class="valid-feedback">
                    Ok!
                </div>
                <div class="invalid-feedback">
                    Proszę o prawidłowy adres email
                </div>
            </div>
            <label for="birth-date-details" class="form-label">Data urodzenia</label>
            <div class="input-group mb-3">
                <input type="date" id="birth-date-details" class="form-control datepicker rounded-right" placeholder="data urodzenia"  min="1960-01-01" max="2005-12-31" disabled="true" value="2005-12-31">
                <div class="valid-feedback">
                    Ok!
                </div>
                <div class="invalid-feedback">
                    Proszę o podanie prawidłowej daty urodzenia (1960-2005)
                </div>
            </div>



<!--        jumbotron -->
            <div class="jumbotron custom-marks">
                <div class="form-group">
                    <label for="add-grade-value">Select Grade</label>
                    <select class="form-control" id="add-grade-value">
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                        <option>40</option>
                        <option>50</option>
                        <option>60</option>
                        <option>70</option>
                        <option>80</option>
                        <option>90</option>
                        <option>100</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="add-grade-subject">Select Subject</label>
                    <select class="form-control" id="add-grade-subject">
                        <option>English</option>
                        <option>Maths</option>
                        <option>Science</option>
                        <option>History</option>
                        <option>Geography</option>
                        <option>Physical education</option>
                    </select>
                </div>
                <button type="button" onclick="addGradeProfile()" class="btn btn-secondary">Add</button>
                <p class="lead ">Grades:</p>
                <hr class="my-4">
                <div id="grade-list"></div>
            </div>

        </div>
    </div>
</div>
<th:block th:insert="fragments/imports :: js_import"></th:block>
</body>
</html>