<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>school diary</title>
    <th:block th:insert="fragments/imports :: head"></th:block>
</head>

<body>
<th:block th:insert="fragments/components :: nav"></th:block>
<div class="main-wrapper justify-content-center">

    <h2>test page:</h2>
</div>
</body>
<th:block th:insert="fragments/imports :: js_import"></th:block>

</html>