<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="fragments/imports :: head"></th:block>
</head>

<body>
<div class="main-wrapper justify-content-center">
    <div class="row form-basic">
<!--        <div class="col-6 col-sm-10">-->
            <h4>New student:</h4>
            <div class="input-group mb-3">
                <span class="input-group-text" id="first-name">Imię</span>
                <input type="text" class="form-control" placeholder="first name">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="last-name">Nazwisko</span>
                <input type="text" class="form-control" placeholder="first name">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="email">
                <span class="input-group-text" id="mail">@example.com</span>
            </div>
            <label for="birth-date" class="form-label">Data urodzenia</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="data urodzenia">
                <span class="input-group-text" id="birth-date">Data urodzenia</span>
            </div>
        </div>
<!--    </div>-->
</div>
</body>
<th:block th:include="fragments/imports :: js_import"></th:block>

</html>