<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="fragments/imports :: head"></th:block>
    <th:block th:include="fragments/imports :: student-liks"></th:block>
</head>

<body>
<th:block th:include="fragments/imports :: nav"></th:block>
<div class="main-wrapper container-fluid">
    <h4>Students list</h4>

    <!-- STUDENT SEARCH RESULT -->
    <button type="button" onclick="add5Students()" class="btn btn-primary">add 5 students</button>
    <button type="button" onclick="getStudentsList()" class="btn btn-primary">get students list</button>
    <div id="studentListResultWrapper">
        <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 table-wrapper">
            <p>results:</p>
            <table id="studentListResult" data-toggle="table">
                <thead>
                <tr>
                    <th data-field="student_id" data-sortable="true" data-sorter="idSorter">ID:</th>
                    <th data-field="firstName" data-sortable="true" data-sorter="nameSorter">Imię:</th>
                    <th data-field="lastName" data-sortable="true" data-sorter="nameSorter">Nazwisko:</th>
                    <th data-field="birthDate">Data urodzenia:</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <hr class="mb-5">
    <h6>jquery/js test</h6>
    <button type="button" onclick="getStudentsList()" class="btn btn-secondary">get students list</button>
    <button type="button" onclick="jQueryTest()" class="btn btn-secondary">jQuery test</button>
    <button type="button" onclick="addStudent()" class="btn btn-secondary">add one student</button>

</div>
</body>
<th:block th:include="fragments/imports :: js_import"></th:block>

</html>