<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>School diary - students</title>
    <th:block th:include="fragments/imports :: head"></th:block>
    <th:block th:include="fragments/imports :: student-liks"></th:block>
</head>

<body>
<th:block th:include="fragments/imports :: nav"></th:block>
<div class="main-wrapper container-fluid">
    <h4>Students list</h4>

    <!-- STUDENT SEARCH RESULT -->
    <button type="button" onclick="add5Students()" class="btn btn-primary">add 5 students</button>
    <button type="button" onclick="addGradeRest()" class="btn btn-primary">addGradeRest</button>
    <button type="button" onclick="getStudentsList()" class="btn btn-primary">refresh</button>
    <div id="studentListResultWrapper">
        <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 table-wrapper">
            <p>results:</p>
            <table id="studentListResult" data-toggle="table" data-detail-formatter="detailFormatter"
                   data-detail-view-align="right" data-detail-view-icon="true" data-detail-view="true">
                <thead>
                <tr>
                    <th data-field="student_id" data-sortable="true" data-sorter="idSorter">ID:</th>
                    <th data-field="firstName" data-sortable="true" data-sorter="nameSorter">Imię:</th>
                    <th data-field="lastName" data-sortable="true" data-sorter="nameSorter">Nazwisko:</th>
                    <th data-field="birthDate">Data urodzenia:</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</body>
<th:block th:include="fragments/imports :: js_import"></th:block>
<script>
    getStudentsList();
</script>
</html>